.todo_card {
  width: 80%;
  margin: 1rem auto;
  background-color: #19976a !important;
  border-radius: 1.8rem !important;
}

.todo_card_title {
  font-size: 25px !important;
  color: white !important;
}

.todo_card_subtitle {
  margin-top: 2rem !important;
  font-size: 18px !important;
}
