<mat-tab-group color="accent" *ngIf="todosList().length > 0; else withoutTodos">
    <mat-tab label="In Progress">
        <div *ngFor="let todo of todosList()">
            <mat-card class="todo_card" *ngIf="!todo?.done">
                <mat-card-header>
                    <mat-card-title class="todo_card_title">
                        {{ todo?.title }}
                    </mat-card-title>
                    <mat-card-subtitle class="todo_card_subtitle">
                        {{ todo?.description }}
                    </mat-card-subtitle>
                </mat-card-header>
                <mat-card-actions align="end">
                    <button class="header_btn check-btn" mat-icon-button aria-label="Complete Task"
                        (click)="handleDoneTodo(todo.id)">
                        <mat-icon>done_all</mat-icon>
                    </button>
                    <button class="header_btn check-btn todo_form_delete_btn" mat-icon-button aria-label="Delete Task"
                        (click)="handleDeleteTodo(todo)">
                        <mat-icon>delete_forever</mat-icon>
                    </button>
                </mat-card-actions>
            </mat-card>
        </div>
    </mat-tab>

    <mat-tab label="Completed">
        <div *ngFor="let todo of todosList()">
            <mat-card class="todo_card" *ngIf="todo?.done">
                <mat-card-header>
                    <mat-card-title class="todo_card_title">
                        {{ todo?.title }}
                    </mat-card-title>
                    <mat-card-subtitle class="todo_card_subtitle">
                        {{ todo?.description }}
                    </mat-card-subtitle>
                </mat-card-header>

                <mat-card-actions align="end">
                    <button class="header_btn restore-btn" mat-icon-button aria-label="Restore Task"
                        (click)="handleDoneTodo(todo.id)">
                        <mat-icon>restore</mat-icon>
                    </button>
                    <button class="header_btn check-btn todo_form_delete_btn" mat-icon-button aria-label="Delete Task"
                        (click)="handleDeleteTodo(todo)">
                        <mat-icon>delete_forever</mat-icon>
                    </button>
                </mat-card-actions>
            </mat-card>
        </div>
    </mat-tab>
</mat-tab-group>

<ng-template #withoutTodos>
    <h3 class="warn_message">No tasks available!</h3>
</ng-template>